<!DOCTYPE html>
<html lang="en">
<head>
    <title>Careers</title>
</head>
<body>
 <h1>Careers</h1>
  <img src="https://3c91606a-3d64-4f49-a907-fa8431f4982b-00-1fgaw9byhqjr3.riker.replit.dev/static/banner.jpg" height="320"/>
  <h2>About Careers</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae semper nisl, in scelerisque nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin efficitur orci ut arcu vulputate, et sollicitudin enim consequat. Nullam vel fermentum purus. Maecenas in aliquet ipsum. Nulla facilisi. Vivamus ullamcorper, mauris non vehicula consequat, leo quam iaculis dui, id convallis metus nisl a libero. Curabitur eget dui vitae neque fringilla interdum. Aenean non lorem nulla.
</p>

  <h2>Open Positions</h2>
  <p>TO-DO Show jobs</p>
  <button>Contact Us</button>
</body>
</html>